@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
body {
    background-color: #012864;
    color: black;
    font-family: "Inter", sans-serif;
    height: 100%;  /* Ensure both html and body take full viewport height */
    margin: 0;     /* Remove default margins */
    overflow: hidden;  /* Prevent scrolling */
}
 
.top-nav {
    display: flex;
    justify-content: center; /* Align the items close to each other */
    margin-top: 3vh; /* Adjust this as needed to control the space from the top */
}
 
 
.white-container {
    background-color:   #fff;  /* White background for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: subtle shadow for the container */
    width: 100%;  /* Set a max-width for the white container, adjust as needed */
    max-width: 100%;  /* Optional: Set a max-width for better responsiveness */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align all content from the top */
    height: 93vh;  /* Give the container a fixed height (adjustable) */
}

.top-item {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    padding-right: 10%
    
}
 
.first-text {
    font-weight: bold;
    font-family: 'Parkinsans', sans-serif;
    margin-top: 30px; /* Adjust the space from the top navigation */
    text-align: center;
    font-size: 65px;
}
 
.button {
    font-weight: 510;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Parkinsans', sans-serif;
    margin-top: 35vb;  /* Adjust the space from the heading */
    text-align: center;
    align-self: center;
    height: 5.5vb;
    width: 50vb;
    background-color: #012864;
    color: white;
}